body {
    width: 600px;
    height: 400px;
}

.job .name {
    width: 60%;
}

.job .build .progress {
    margin-bottom: 0px;
}

.job .controls {
    width: 15%;
}

tr.job td.name span{
    cursor: pointer;
}