<table class="table table-hover">
    <tbody>
        {{#each jobs}}
        <tr class="job">
            <td class="name">
                <span class="badge {{#if color_type}}badge-{{color_type}}{{/if}}">s</span>
                {{name}}
            </td>
            <td class="build">
                <div class="progress progress-striped active {{#unless in_progress}}hide{{/unless}}">
                    <div class="bar" style="width: 30%;"></div>
                </div>
            </td>
            <td class="job-controls">
                <a href="#"><i class="icon-eye-open"></i></a>
                <a href="#"><i class="icon-play"></i></a>
                <a href="#"><i class="icon-share"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
