<table class="table table-hover">
    <tbody>
        {{#each jobs}}
        <tr class="job {{status}} {{#if in_progress}}in-progress{{/if}}">
            <td class="name">
                <label title="{{status}}" class="label {{#if color_type}}label-{{color_type}}{{/if}}">
                    <i class="icon-circle-blank"></i>
                </label>
                {{name}}
            </td>
            <td class="build">
                <div class="progress progress-striped active {{#unless in_progress}}hide{{/unless}}">
                    <div class="bar" style="width: 30%;"></div>
                </div>
            </td>
            <td class="controls">
                <a href="#"><i class="icon-eye-open"></i></a>
                <a href="#"><i class="icon-play"></i></a>
                <a href="#"><i class="icon-share"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
